.StreetMaintainOrder {
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8fb;
}

.StreetMaintainOrder .formCard {
    width: 68%;
    margin-top: 30px;
    margin: 30px 0 50px 0;
    overflow: hidden;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.StreetMaintainOrder .cardHeader {
    width: 100%;
    height: 80px;
    background-color: #e7e9ef;
    padding: 24px;
}

.StreetMaintainOrder .cardHeader h3 {
    font-size: 25px;
    color: #2b3e4b;
    font-weight: 700;
    margin-bottom: 8px;
}

.StreetMaintainOrder .cardBody {
    width: 100%;
    padding: 0 20px 20px;
}

.StreetMaintainOrder .cardBody .mapGoogle {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.map {
    position: relative !important;
}

.StreetMaintainOrder .cardBody .mapContainer {
    width: 500px !important;
    height: 500px !important;
}

.StreetMaintainOrder .cardBody form {
    width: 100%;
    padding: 8px;
}

.StreetMaintainOrder .cardBody .formSelectList {
    width: 50%;
    margin-bottom: 16px;
}

.StreetMaintainOrder .cardBody .formSelectList label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 19.5px;
    text-transform: capitalize;
}

.StreetMaintainOrder .cardBody .formSelectList select {
    font-size: 14px;
}

.StreetMaintainOrder .cardBody .formSelectList select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.StreetMaintainOrder .cardBody form button {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    margin-top: 100px;
    line-height: 13px;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #2b3e4b;
    color: #fff;
}

.StreetMaintainOrder .cardBody form button:hover {
    background-color: #22333e;
}

.StreetMaintainOrder .formInput {
    width: 100%;
    margin-bottom: 16px;
}

.StreetMaintainOrder .formInput label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 19.5px;
    text-transform: capitalize;
}

.StreetMaintainOrder .formInput input {
    font-size: 13px;
    padding: 8px 12px;
    line-height: 13px;
}

.StreetMaintainOrder .uploadAttach {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.StreetMaintainOrder .uploadBtn {
    width: 25%;
    height: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.StreetMaintainOrder .uploadBtn button {
    margin-top: 0 !important;
}

.StreetMaintainOrder .imgDisplay {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

.StreetMaintainOrder .pdfFile {
    font-size: 66px;
}

@media (max-width: 576px) {
    .StreetMaintainOrder .formCard {
        width: 100%;
    }
    .StreetMaintainOrder .uploadBtn {
        width: 41%;
    }
    .map>div {
        width: 380px !important;
    }
}